@model ContraloriaNDSWeb.Models.Contralor

@{
    ViewBag.Title = "Nuestro Contralor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administración Web</h2>

<div>
    <h4>Nuestro Contralor</h4>
    <hr />
    <dl class="dl-horizontal">
      
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @if (!string.IsNullOrEmpty(Model.Photo))
            {
                <img src="@Url.Content(Model.Photo)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
            }
            else
            {
                <img src="~/Content/Users/Photo.jpg" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateEdition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEdition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AutorEdition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutorEdition)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ContralorId }, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Volver al Listado", "Index", new { }, new { @class = "btn btn-success" })
</p>
