@model ContraloriaNDSWeb.Models.Hospital

@{
    ViewBag.Title = "Hospitales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administración Web</h2>

<div>
    <h4>Información del Hospital</h4>
    <hr />
    <dl class="dl-horizontal">
      

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateEdition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEdition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AutorEdition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutorEdition)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.HospitalId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Volver al Listado", "Index", new { }, new { @class = "btn btn-success" })
</p>
