@model IEnumerable<ContraloriaNDSWeb.Models.RecursoHumano>

@{
    ViewBag.Title = "Recuros Humanos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recursos Humanos</h2>

<p>
    @Html.ActionLink("Nuevo Registro", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
   
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adjunto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacion)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Adjunto))
            {
                <a class="btn btn-link" href="@Url.Content(item.Adjunto)" target="_blank">@Html.DisplayFor(modelItem => item.Descripcion)</a>
            }
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.RecursoHumanoId }, new { @class = "btn btn-warning" })<br />
            @Html.ActionLink("Detalle", "Details", new { id = item.RecursoHumanoId }, new { @class = "btn btn-info" })<br />
            @Html.ActionLink("Borrar", "Delete", new { id = item.RecursoHumanoId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
