@model IEnumerable<ContraloriaNDSWeb.Models.ValoresEticos>

@{
    ViewBag.Title = "Contraloría";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Valores Eticos</h2>

<p>
    @Html.ActionLink("Nuevo Registro", "ValoresEticos_Crear", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "ValoresEticos_Editar", new { id = item.ValoresEticosId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Detalle", "ValoresEticos_Detalle", new { id = item.ValoresEticosId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Borrar", "ValoresEticos_Borrar", new { id = item.ValoresEticosId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
