@model IEnumerable<ContraloriaNDSWeb.Models.AuditoriaInterna>

@{
    ViewBag.Title = "Auditorías Internas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Auditorías Internas</h2>

<p>
    @Html.ActionLink("Nuevo registro", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Year.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adjunto)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Year.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Adjunto))
                {
                    <a class="btn btn-link" href="@Url.Content(item.Adjunto)" target="_blank">@Html.DisplayFor(modelItem => item.Descripcion)</a>
                }
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.AuditoriaInternaId }, new { @class = "btn btn-warning" })<br />
                @Html.ActionLink("Detalle", "Details", new { id = item.AuditoriaInternaId }, new { @class = "btn btn-info" })<br />
                @Html.ActionLink("Borrar", "Delete", new { id = item.AuditoriaInternaId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
