@model ContraloriaNDSWeb.Models.Year

@{
    ViewBag.Title = "Años";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administración de años de trabajo</h2>

<h3>Está seguro que desea borrar este año de trabajo?</h3>
<div>
    <h4>Borrar año</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Volver al Listado", "Index", new { }, new { @class = "btn btn-success" })
        </div>
    }
</div>
